@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

@theme inline {
  --font-poppins: 'Poppins', sans-serif;
  --color-main-color: #289F78;
}